@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #040316;
    --background: #ffffff;
    --primary: #4b39c0;
    --secondary: #9a92dd;
    --accent: #a44141;
  }
  .dark {
    --foreground: #eae9fc;
    --background: #110e0e;
    --primary: #513fc6;
    --secondary: #2a226d;
    --accent: #be5b5b;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
